<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Battle Of Tastes</title>
    <base href="/index.html">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta name="keywords" content="docker-compose, docker, stack">
    <meta name="author" content="mojtaba" >
    <link rel='stylesheet' href="{{ url_for('static',filename='stylesheets/style.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="content-container">
      <div id="content-container-center">
	      {% for option in options %}
	      {% set id1 = 'candidate_{0}'.format(option[0].id) %}
		  {% set id2 = 'candidate_{0}'.format(option[1].id) %}
	<hr style="width:50%">
        <h3>{{option[0].name}} vs {{option[1].name}}!</h3>
        <form id="choice" name='form' method="POST" action="/">
		<button id="{{id1}}" type="submit" name="vote" class="a" value="{{id1}}">{{option[0].name}}</button>
		<button id="{{id2}}" type="submit" name="vote" class="b" value="{{id2}}">{{option[1].name}}</button>
        </form>
	{% endfor %}

        <div id="tip">
          (Tip: you can change your vote)
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    {% if vote %}
    <script>
      var vote = "{{vote}}";
      var op = "{{opponent}}";
      console.log("vote = " + vote);
      console.log("opponent = " + op);
      
        $("#"+vote).prop('disabled', true);
        $("#"+vote).html('{{option_a}} <i class="fa fa-check-circle"></i>');
        $("#candidate_"+op.id).css('opacity','0.5');
     
    </script>
    {% endif %}
  </body>
</html>
